<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ printf "%scss/main.css" site.BaseURL }}">
<meta name='yandex-verification' content='627f6edd89bb286d' />
<meta name="google-site-verification" content="RvL6esivvL2C0-F35ixKDdX7XjWBbx9__77TJluTVlA" />
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} « {{ .Site.Title }}{{ end }}</title>
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}">
{{ end -}}
