<aside class="episode-sidebar">
  <div class="sidebar-widget">
    <h3>Предложить тему</h3>
    <p>Предлагайте темы к выпуску и голосуйте за чужие темы!</p>
    <p>Для этого нужно зайти в наш <a href="https://t.me/devzen_live">Telegram</a> или <a href="https://to.re128.org/#/#devzen-podcast-comments:matrix.org">Matrix</a> и оставить тему с хэш-тегом #темы123, #темы456 и т.д. по номеру выпуска. Голосуйте за темы других слушателей при помощи реакций.</p>
    <p>Если тема наберет много голосов, мы ее обязательно обсудим. Если не наберет, то все равно обсудим, если тема покажется нам интересной.</p>
    <p>Также приходите слушать и комментировать <a href="/live/">прямой эфир</a>. Только в прямом эфире вы получаете уникальный контент из пре- и послешоу.</p>
  </div>
  <div class="sidebar-widget">
    <h3>Дискламер</h3>
    <p>Представленные материалы являются личным мнением людей, работающих над сайтом. Это мнение не является достоверным, ровно как и постоянным. Оно не отражает официальную позицию каких-либо компаний и не является призывом к каким бы то ни было действиям. Мы сожалеем, если наше мнение ранит ваши чувства. Это не было нашей целью и вышло случайно.</p>
  </div>
</aside>
